rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Default global catch-all safety net rejecting all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    // Admin helper
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && (request.auth.token.email == 'mrabhaypranker1236@gmail.com' || request.auth.token.email == 'admin@rojtech.com' || request.auth.token.email == 'admin@rojstudy.com');
    }

    // Match users collection
    match /users/{userId} {
      // Allow read, create, and update only if the user is authenticated and is the owner of the document, or if the user is an admin
      allow get: if (isSignedIn() && request.auth.uid == userId) || isAdmin();
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if (isSignedIn() && request.auth.uid == userId) || isAdmin();
      allow list: if isAdmin();
      allow delete: if isAdmin();
    }

    // Match global chat messages collection
    match /chats/{messageId} {
      allow get, list: if true;
      allow create: if request.resource.data.keys().hasAll(['userId', 'name', 'email', 'avatar', 'message', 'timestamp', 'createdAt'])
        && request.resource.data.userId is string
        && request.resource.data.name is string
        && request.resource.data.message is string
        && request.resource.data.message.size() <= 2000;
      allow delete: if (isSignedIn() && resource.data.userId == request.auth.uid) || isAdmin();
      allow update: if false;
    }

    // Match online users collection representing presence
    match /online_users/{userId} {
      allow get, list: if true;
      allow create, update: if request.resource.data.keys().hasAll(['userId', 'name', 'email', 'avatar', 'activity', 'lastActive'])
        && request.resource.data.userId is string
        && request.resource.data.name is string
        && request.resource.data.lastActive is int;
      allow delete: if (isSignedIn() && userId == request.auth.uid) || isAdmin();
    }
  }
}
